@CHARSET "UTF-8";
 .thing{
            display:inline-block;
            height: 100px;
            width: 200px;
            line-height: 100px;
            text-align: center;
            color:white;
            font-weight: bold;
            overflow:hidden;
        }
        .type1{
            background-color: rgb(233, 139, 31);
            font-family: 'Kranky';
            font-size: 50px;
            border-radius: 25px;
        }
        .type2{
            background-color: blueviolet;
            border-radius: 25px;
            font-size: 50px;
        }
        #line {
            width: 815px;
            height: 50px;
            border-radius: 10px;
            background-color: blueviolet;
        }